$primary-text-color:#000;
$secondary-text-color:#fff;
$primary-bg-color:#f5f5f5;
$font-family:'Lato', sans-serif;
$border-color:#ddd;
$violet:#9400D3;
$indigo:#a25fe7;
$blue:#4f81f3;
$green:#00FF00;
$red:#ff0000;
$yellow:#FFFF00;
$orange:#FF7F00;
$gray:#969495;
$white:#fff;